.container{
    display: flex;
    height: 620px;
    justify-content: center;
}
.itens{
    background-color: red;
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
}

.url{
    height: 5%;
    background-color: wheat;
    display: flex;
}
.url input{
    width: 60%;
    color: rgb(192, 113, 82);
}
.url select{
    width: 20%;
   
}
.url button{
    width: 20%;
    background-color: white;
    cursor: pointer;
    margin-left: 1%;
    border-radius: 14%;
}
input , select,button{
    outline: none;
    padding: 0;
    margin: 0;
    border: 2px solid aqua;
    font-size: medium;
    color: brown;
}
/*termina style url*/


.params{
    height: 60%;
    background-color: wheat;

}

.response{
    background-color: aqua;
    height: 35%;
}


